<mat-paginator
  class="demo-paginator"
  (page)="handlePageEvent($event)"
  [pageSize]="pageSize"
  [disabled]="disabled"
  [length]="length"
  [showFirstLastButtons]="showFirstLastButtons"
  [hidePageSize]="hidePageSize"
  [pageIndex]="pageIndex"
  aria-label="Select page"
/>

<ol
  class="flex flex-wrap w-full gap-5"
  *ngIf="movies$ | async as movies; else loading"
>
  <li *ngFor="let movie of movies.results" class="relative">
    <app-movie-card [movie]="movie" />
  </li>
</ol>

<ng-template #loading>
  <mat-progress-bar mode="indeterminate" color="primary" />
</ng-template>
